
<div class="columns is-multiline is-desktop">
    <div class="column is-one-third" ng-repeat="device in $root.devices">
        <div class="card">
            <div class="card-header">
                <p class="card-header-title">
                    {{ device.id }}
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fa fa-gear" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
            <div class="card-content">
                <div ng-repeat="token in device.rw" class="margin-bottom-8px">
                    {{ token }}
                </div>
            </div>
        </div>
    </div>
</div>

