
<labels-bar/>

<div class="columns is-multiline is-desktop">
    <div class="column is-one-third" ng-repeat="device in $root.devices">
        <div class="card">
            <div class="card-header">
                <p class="card-header-title">
                    {{ device.id }}
                </p>
            </div>
            <div class="card-content">
                <div ng-repeat="token in device.rw" class="margin-bottom-8px">
                    {{ token }}

                    <div class="field pull-right" style="width:48px">
                        <input
                            id="switchExample"
                            type="checkbox"
                            name="switchExample"
                            class="switch is-success"
                            -checked="checked"
                            />
                        <label for="switchExample"></label>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
